body {
    height: 100vh;
}
main {
    height: 100%;
}

.pieContainer {
    grid-column: 1 / 2;
    grid-row: 1/3;
    p {
        text-align: center;
    }
}
#budgetForm {
    border: black solid;
    border-radius: 25px;
    padding: 1em;
    margin: 20px 0;
    width: fit-content;
    height: fit-content;

    grid-column: 2 / 3;
    button {
        height:fit-content;
    }
    select, input {
        display: block;
        width: 100%;
    }
}
.gridContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2em;
}

table {
    height: fit-content;
    width: fit-content;
    border: black solid;
    grid-row: 2/3;
    grid-column: 2/3;
    border-collapse: collapse;
    th, td {
        border: solid black;
        padding: 10px;
        text-align: center;
    }
    th {
        background-color: lightgray;
    }
}
.legend {
    text-align: center;
    p {
        display: inline;
        width: fit-content;
        margin: 10px
    }
}