.pieContainer {
    border: solid black;
    grid-column: 1 / 2;
}
#budgetForm {
    border: black solid;
    border-radius: 25px;
    padding: 1em;
    margin: 20px 0;
    width: fit-content;
    height: fit-content;

    grid-column: 2 / 3;
    button {
        height:fit-content;
    }
}
.gridContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2em;
}