.ingred {
    display: flex;
    color: black;
    background-color: rgb(199, 158, 120);
    border: 100px;
    border-color: black;
    border-radius: 5px;
    margin-left: 3px;
    margin-right: 3px;
    gap: 3px;
    align-items: center;
    height: 20px;
    padding: 3px;
    font-size: smaller;
    font-weight: 500;
}

.ingred:hover {
    cursor: pointer;
}