.grocery-list-page-container {
    display: flex;
    height: 85vh;   
}

.grocery-list {
    height: 100%;
    width: 55%;
    padding: 16px;
    margin: 40px;
    margin-right: 15px;
    background-color: whitesmoke;
    overflow-y: auto;
    max-height: 525px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    padding-top: 0;
}

.grocery-list-form {
    height: 100%;
    width: 45%;
    padding: 16px;
    margin-right: 14px;
}

#add-item-form {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.send-bag-button {
    height: auto;
}

.category-group {
    margin-bottom: 30px;
}

.category-label {
    font-weight: bold;
    margin: 12px 0 8px 0;
    padding: 8px 12px;
    border: 2px solid lightgray;
    border-radius: 6px;
    background-color: #f0e9c3;
    text-transform: capitalize;
    width: 93%;
    text-align: center;
    box-sizing: border-box;
}

.filter {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter select {
  padding: 4px 8px;
}

.grocery-header {
    display: flex;
    justify-content: space-between;
    width: 93%;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    z-index: 10;
    padding: 10px 0px;
    padding-right: 40px;
    padding-left: 4px;
}

.send-bag button {
    background: gray;
    border: none;
    cursor: pointer;
}

.send-bag button:hover{
    background: lightgray;
}

h2 {
    padding-left: 4px;
    margin-bottom: 12px;
}