.grocery-list-page-container {
    display: flex;
    height: 100%;   
}

.grocery-list {
    height: 88vh;
    width: 55%;
    padding: 16px;
    background-color: whitesmoke;
    border-right: 2px solid gray;
    overflow-y: auto;
}

.grocery-list-form {
    height: 100%;
    width: 45%;
    padding: 16px;
}

.send-bag-button {
    height: auto;
}

.category-group {
    margin-bottom: 30px;
}

.category-label {
    font-weight: bold;
    margin: 16px 0 8px 0;
    padding: 8px 12px;
    border: 2px solid lightgray;
    border-radius: 6px;
    background-color: lightyellow;
    text-transform: capitalize;
    width: 89%;
    text-align: center;
    box-sizing: border-box;
}

.filter {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter select {
  padding: 4px 8px;
}

.grocery-header {
    display: flex;
    justify-content: space-between;
    width: 89%;
    align-items: center;
    margin-bottom: 16px;
}

.send-bag button {
    background: gray;
    border: none;
    cursor: pointer;
}

.send-bag button:hover{
    background: lightgray;
}
