.navbar {
    background-color: darkgreen;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 100%;
    top: 0px;
    padding: 10px 1%;
    flex-direction: row;
}
a {
    margin: 0 5px;
}
nav {
    display: flex;
    align-items: center;
}