.navbar {
    background-color: rgb(148, 169, 91);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 100%;
    top: 0px;
    padding: 10px 1%;
    flex-direction: row;
}
a {
    margin: 0 5px;
    text-decoration: none;
    color: #424242;
}
nav {
    gap: 0.75rem;
    display: flex;
    align-items: center;
}

