.navbar {
    background-color: darkgreen;
    position: sticky;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 100%;
    top: 0px;
    padding: 0 1%;
}
.logo {
    float: left;
    flex-direction: row;
}
