.recipe-card {
    background-color: #33382B;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    /* justify-content: flex-start; */
    gap: 20px;
    align-items: stretch;
    flex-direction: row;
    width: 70%;
}

.recipe-img {
    height: 170px;
    width: 170px;
    object-fit: hidden;
}
.recipe-img > img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crop and fill */
    display: block;
    position: static;
}

.recipe-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 187px;
}

.recipe-text {
    flex: 1;
}

.recipe-text > h3 {
    color: white;
    flex: 1;
}

.recipe-text > p {
    color: lightgrey;
    flex: 1;
    margin: 0;
}

.dietary-indicators {
    margin-top: auto; /*to push it to bottom of recipe card*/
    display: flex;
    gap: 5px;
}

.diet-green {
    background-color: green;
    color: white;
    border-radius: 8px;
    padding: 4px;
}

.diet-red {
    background-color: red;
    color: white;
    border-radius: 8px;
    padding: 4px;
}

.recipe-action-col {
    display: flex;
    align-items: center; /* Vertically center the button */
    justify-content: center;
    min-width: 170px;
}

.recipe-save-btn {
    height: 40px;
    background-color: white;
    color: black;
}

.recipe-saved-btn {
    height: 40px;
    background-color: rgb(225, 225, 16);
    color: black;
}

.recipe-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.recipe-popup-content {
    background: #2e3227;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    color: white;
}

.close-popup {
    float: right;
    margin-bottom: 10px;
}