/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

.accordion-parent {
    /*padding: 1rem;
    border-radius: 8px;*/
    flex-direction: column;
    align-items: center;
}

.accordion-clear{
    background: #f0e9c3;
    padding: 10px;
    color: black;
    margin-bottom: 20px;
    font-weight: 500;
}

.accordion {
    /*background-color: #fff;*/
    width: 100%;
    max-width: 720px;     
    /*margin: 10px auto;   */ 
    padding: 0;
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 20px;
}

.accordion:last-child {
    margin-bottom: 0;
}

.toggle {
    display: flex;
    justify-content: space-between;   
    align-items: center;
    width: calc(100% - 10px);
    padding: 12px 16px;
    box-sizing: border-box;
    background: #f0e9c3;
    color: black;
    font-weight: 700;
    border: 0;
    cursor: pointer;
}


.accordion.toggled .toggle {
    background-color: #f0e9c3;
}

.accordion .content-parent {
    background: transparent;
    padding: 5px 10px 12px; 
    margin-right: 10px;   
    box-sizing: border-box;
}

.accordion .item-controls {
    display: flex;
    align-items: center;
}

.accordion .item-row {
    width: 100%;            
    padding: 0px 0 8px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background-color: white; 
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}

.item-info {
    align-items: center;
    gap: 10px;
    flex: 1;
}

.item-name {
    font-weight: 700;
}

.item-expiry {
    font-size: 0.85rem;
    color: #555;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 5px;
}

.quantity-controls button {
    background-color: #ccc;
    border: none;
    padding: 1px 10px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.quantity-controls input {
    width: 30px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.delete-button {
    background-color: #f99;
    border: none;
    width: 20px;
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.item-checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    accent-color: gray; 
}

